<!Doctype html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="../app/css/vuetify.min.css" rel="stylesheet">
    <link href="../app/css/app.css" rel="stylesheet">
    <link href="../app/css/palette.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Panel de estudiante - ColsamApp</title>
</head>
<body>
<div id="panel">
    <v-app :dark="isDark">
        <v-toolbar app color="primary" class="toolbar">
            <v-toolbar-title class="white--text titulo">
                <v-img src="/ColsamApp/app/images/logo.png" class="logo" height="66" width="54"></v-img>
                ColsamApp
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-menu bottom offset-y>
                    <v-btn flat slot="activator" dark>
                        <div>Bienvenido: {{nombre}} {{apellido}}</div>
                    </v-btn>
                    <v-list>
                        <v-list-tile v-on:click="cookieTheme">
                            <v-list-tile-title>
                                Tema oscuro
                            </v-list-tile-title>
                            <v-switch v-model="isDark"></v-switch>
                        </v-list-tile>
                        <v-list-tile>
                            <v-btn block flat @click.stop="perfil = true">Perfil Estudiantil</v-btn>
                        </v-list-tile>
                        <v-list-tile>
                            <v-btn  block flat @click="cerrarSesion">Cerrar Sesión</v-btn>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <v-dialog v-model="errorNoIn" max-width="500px" persistent>
                <v-card>
                    <v-card-title>
                        <span class="headline">Error al ingresar</span>
                    </v-card-title>
                    <v-card-text>
                        <v-layout wrap>
                            <v-flex xs12>
                                Usted no se ha logueado correctamente en el sistema, por favor ingrese sus datos en la pagina de inicio. Será redireccionado a la pagina de inicio en 10 segundos.
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-dialog>
            <v-dialog v-model="errorNoPer" max-width="500px" persistent>
                <v-card>
                    <v-card-title>
                        <span class="headline">Error al ingresar</span>
                    </v-card-title>
                    <v-card-text>
                        <v-layout wrap>
                            <v-flex xs12>
                                Usted no tiene permisos para ingresar a este panel, Será redireccionado a la pagina de inicio en 10 segundos.
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogLogout" max-width="270px" content-class="alertCerrar" persistent>
                   <v-container class="text-xl-center white--text">Cerrando sesion por favor espere...</v-container> <v-progress-circular
                            :size="90"
                            :width="10"
                            color="primary"
                            indeterminate
                    ></v-progress-circular>
            </v-dialog>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                </v-layout>
            </v-container>
        </v-content>
        <v-footer app class="footer-bar">
            <v-container class="text-lg-center">Todos los derechos reservados 2018, Casa San Luis Beltran de
                Barrranquilla
            </v-container>
        </v-footer>
        <v-dialog
                v-model="perfil"
                fullscreen
                transition="dialog-bottom-transition"
                :overlay="false"
                scrollable
        >
            <v-card tile>
                <v-form v-model="form" lazy-validation>
                <v-toolbar card dark color="primary">
                    <v-btn icon @click.native="perfil = false" dark>
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Perfil Estudiantil</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark flat @click.native="guardar">Guardar</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-card-text>
                    <v-alert type="success" v-model="alertOk" dismissible>Datos actualizados correctamente, su perfil se actualizará al cerrarse esta ventana automaticamente.</v-alert>
                    <v-alert type="error" v-model="errorUpdate" dismissible>Los datos no se pudieron actualizar, ya que los mismos se encuentran registrados en la base de datos.</v-alert>
                    <v-alert type="error" v-model="errorPassNew" dismissible>Las contraseñas no coindiden, por favor revise los datos en el campo contraseña.</v-alert>
                    <v-list three-line subheader>
                        <v-subheader>A continuación modifique sus datos si lo requiere.</v-subheader>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Usuario:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-text-field class="textfield" v-model="user" readonly></v-text-field></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Nombres:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-text-field class="textfield" v-model="nombre" required></v-text-field></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Apellidos:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-text-field class="textfield" v-model="apellido" required></v-text-field></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Email:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-text-field class="textfield" v-model="email" required></v-text-field></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Telefono Acudiente:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-text-field class="textfield" v-model="telAcudiente" required></v-text-field></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Fecha Nacimiento:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-btn @click.stop="dialogFecha = true" color="primary" >Seleccionar fecha <v-dialog max-width="290px" v-model="dialogFecha" ><v-date-picker v-model="edad"></v-date-picker></v-dialog> </v-btn></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                    <v-divider></v-divider>
                    <v-list three-line subheader>
                        <v-subheader>Cambiar contraseña</v-subheader>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Nueva contraseña:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-text-field class="textfield" v-model="passNew" required></v-text-field></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Repite nueva contraseña:</v-list-tile-title>
                                <v-list-tile-content class="textfield"><v-text-field class="textfield" v-model="passNew2" required></v-text-field></v-list-tile-content>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                    </v-form>
                </v-card-text>
                <div style="flex: 1 1 auto;"></div>
            </v-card>
        </v-dialog>
    </v-app>
</div>
<script src="../app/javascript/vue.js"></script>
<script src="../app/javascript/vuetify.js"></script>
<script src="../app/javascript/panelEs.js"></script>
<script src="../app/javascript/vue-resource@1.3.5"></script>
</body>
</html>
