.toolbar{
    height: 7%!important
}


.v-toolbar__title{
    font-size: 24px!important;
}

.titulo{
    display: flex;
    /* flex-direction: row; */
    /* flex-flow: nowrap; */
    align-items: center;
}

.logo{
    margin-right: 10px;
}

.footer-bar{
    height: 64px!important;
}

@media screen and (max-width: 1601px) {
    .toolbar{
        height:9%!important
    }
}