.toolbar{
    height: 7%!important
}

.v-list__tile__title{
    overflow: inherit;
    height: auto;
}

.v-toolbar__title{
    font-size: 24px!important;
}

.theme--light.application {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/colsamapp.appspot.com/o/wall%2Fwall.jpg?alt=media&token=213d4019-019e-42c8-ae32-6cf856f1a6c1")!important;
    background-size: cover!important;
}

.theme--dark.application{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/colsamapp.appspot.com/o/wall%2Fwall2.jpg?alt=media&token=74afb499-4469-4302-81cb-76787652fd07")!important;
    background-size: cover!important;
}

.back{

}

.titulo{
    display: flex;
    /* flex-direction: row; */
    /* flex-flow: nowrap; */
    align-items: center;
}

.logo{
    margin-right: 10px;
}

.footer-bar{
    height: 64px!important;
    color: #fff!important;
    background: #f5f5f500!important;
}

.textfield{
    width: 70%;
}

.logoMargin{
    margin-right: -20px!important;
}

.alertCerrar{
    box-shadow: none!important;
    border-radius: 2px;
    display: flex;
    margin: 24px;
    overflow: hidden!important;
    pointer-events: auto;
    transition: .3s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    z-index: inherit;
    flex-flow: wrap;
    justify-content: center;
}
.v-list__tile__content{
    align-items: initial!important;
}
@media screen and (max-width: 1601px) {
    .toolbar{
        height:8%!important
    }
}